.Favorites-Container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:8px;
    margin-top:30px;
}

.FavoritesBook-Container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 40px;
    row-gap: 40px;
    margin-bottom:30px;
    min-height: 250px;
}

.Favorites-Text{
    font-size:25px;
    color:white;
    font-weight: bold;
    width:100%;
    background-color:rgba(0,0,0,0.4);
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:45px;
}