
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

.BookPage{
    background-color: rgb(72,72,72);
    width:900px;
    height: 920px;
    margin-bottom:-10px;
    margin-top:42px;
}
.MainBookPage{
    display:flex;
    justify-content: center;
    align-items: center;
}

.Header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color:rgb(56,56,56);
    position: fixed;
    width:100%;
    top:0;
    left:0;
    right:0;
    height: 50px;
    column-gap: 38px;
    z-index:1000;
}
.Header-Search{
    background-color:rgb(80,80,80);
    border-style:solid;
    font-size:16px;
    border-color:rgb(80,80,80);
    padding:5px;
    border-radius:50px;
    padding-left:10px;
}
.Header-Search:focus{
    outline:none;
    border-color:rgb(80,80,80);
    color:rgb(169,169,169);
}
.Header-Part{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    color:rgb(169,169,169);
    height: 50px;
    line-height: 50px;
    text-align: center;
    width:95px;
    transition: all ease 0.3s;
}
.Header-Part:hover{
    cursor:pointer;
    background-color: rgb(190,190,190);
    color:rgb(105,105,105);
}

.book-title{
    font-size:45px;
    color:white;
    font-family: "Google Sans", sans-serif;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom:80px;
}
.BookPage-Image{
    width:350px;
    margin-left:50px;
}
.BookPage-Content{
    display:flex;
    column-gap: 20px;
}
.sub-book-content{
    display:flex;
    flex-direction: column;
    row-gap: 10px;
}
.book-author{
    color:white;
    font-family:"Lobster", sans-serif;
    font-size:35px;
    margin-top:10px;
    margin-bottom:25px;
}
.ReviewsContainer{
    display:flex;
    column-gap: 8px;
}
.STAR{
    width:30px;
}
.book-description{
    color:white;
    font-family:"Lobster", sans-serif;
    font-size:35px;
    margin-top:25px;
}
.download{
    text-decoration: none;
    font-size:17px;
    color:white;
    font-family: "Google Sans", sans-serif;
    border:2px solid white;
    border-radius: 20px;
    text-align: center;
    width:190px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    font-weight: bold; 
}
.download:hover{
    background-color: white;
    color:rgb(56,56,56);
    cursor:pointer;
}
.parent-download{
    justify-content: center;
    align-items: center;
    display:flex;
    column-gap: 10px;
    margin-left:-20px;
}


