.Library-Text{
    color:rgb(169,169,169);
    font-size:50px;
    text-align: center;
}

.BookCard{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BookCard-Image{
    width:170px;
    height: 250px;
}

.SavedBooks-Container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:8px;
    margin-top:-30px;
}

.Book-Download{
    text-decoration: none;
    margin-top:15px;
    color:rgb(169,169,169);
    font-weight: bold;
    background-color: white;
    width:165px;
    text-align: center;
    padding-top:7px;
    padding-bottom:7px;
    border-style:solid;
    border-radius: 8px;
    border:none;
}

.Books-Container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 40px;
    row-gap: 40px;
}

.SavedBooks-Text{
    font-size:25px;
    color:white;
    font-weight: bold;
    width:100%;
    background-color:rgba(0,0,0,0.4);
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:45px;
}

.Book-Title{
    font-size:20px;
    color:white;
    font-weight: bold;
}