.HomeDiv{
    display:flex;
    flex-direction: column;
}
.Main{
    width:100%;
    overflow:hidden;
    display:flex;
    justify-content: center;
}
.Welcome{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
    color:rgb(169,169,169);
    text-align: center;
    margin-top:35px
}
.ReadMore{
    text-decoration: underline;
    margin-left:2px;
}
.ReadMore:hover{
    cursor:pointer;
}
.Welcome-D{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:25px;
    color:rgb(169,169,169);
    text-align: center;
    margin-top:-13px;
    line-height: 1.3;
}
.Welcome-G{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:25px;
    color:rgb(169,169,169);
    text-align: center;
    margin-top:-13px;
    line-height: 1.3;
}
.Main2{
    width:100%;
    flex-shrink: 0;
}

.Div-B{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.B{
    border-radius: 100px;
    border-style:solid;
    width:15px;
    height: 15px;
    border-color:rgb(43, 43, 43);
    background-color: rgb(43, 43, 43);
    transition:all ease 0.1s;
}
.Slider{
    display:flex;
    width:200%;
    transition: transform 0.6s ease-in-out;
    margin-top: 43px;
}
.B:hover{
    background-color:white;
    border-color:white;
    cursor:pointer;
}