.CategoryPage{
    background-color: rgb(72,72,72);
    width:900px;
    height: 920px;
    margin-bottom:-10px;
    margin-top:42px;
}
.MainCategoryPage{
    display:flex;
    justify-content: center;
    align-items: center;
}