.BookCard{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.4s ease;
}

.BookCard-Image{
    width:170px;
    height: 250px;
    transition:all 0.4s ease;
    display:block;
}

.Link-To-Book{
    height: 250px;
    width:170px;
}

.BookCard-Button{
    position: absolute;
    top:205px;
    left:120px;
    background-color: transparent;
    border:none;
}

.BookCardFavorite{
    width:30px;
    height: 30px;
    transition: all 0.4s ease;
}